<header>
    <nav role="navigation">
        <a class="brand-logo" href="#">
            <img src="{{asset('logo.png')}}" alt="" sizes="" srcset="">hotuba</a>
        <input class="menu-btn" type="checkbox" id="menu-btn" />
        <label class="menu-icon" for="menu-btn">
            <span class="navicon"></span>
        </label>
        <ul class="menu" aria-label="Menu principal"  aria-labelledby="menu">
            <li class="active"><a href="{{path('accueil.index')}}">Accueil</a></li>
            <li><a href="{{path('item.index')}}">Coup de gueule</a></li>
            <li><a href="#">Bilan</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>
</header>