<div class="search">
    <!-- Form search -->
    <form method="get" role="search" id="article-search" aria-label="ArticleVideo">
        <input type="search" id="site-search" placeholder="" name="q" 
            aria-label="Rechercher dans la base de données">
        <button><i class="fas fa-search"></i></button>
    </form>
</div>