<div class="sidebar" role="region" aria-labelledby="sidebar">
    <aside>
        <h2>Black Lives Matters</h2>
        <div class="fakeimg"></div>
        <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
    </aside>
    <aside>
        <h2>Black Lives Matters</h2>
        <div class="fakeimg"></div>
        <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
    </aside>
</div>