@use '../mixins/mixin' as *;

.item-container-grid {
    @include hoGrid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: 25rem 25rem;
    grid-auto-rows: 25rem;
    gap: 2rem;
    grid-gap: 2rem ;
    @include md {
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
        gap: 2rem;
        grid-gap: 2rem;
    }
    @include xl {
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
        gap: 2rem;
        grid-gap: 2rem;
    }
}
.thumbnail-container {
    width: 100%;
    @include hoFlex;
    flex-flow: column;
    padding: 0;
    background-color: var(--ho-light);
    box-shadow: var(--box-shadow);
    .thumbnail-link {
        display: block;
        .thumbnail-block {
            img, video {
               width: 100%;
               max-width: 100%; 
               height: 16rem;
               object-fit: cover;
            }
            .thumbnail-progress {
                width: 100%;
                position: relative;
                left: 0;
                right: 0;
                bottom: 0;
                margin:-0.4rem 0 0 0;
                .thumbnail-bar {
                    width:15%;
                    height: 0.2rem; 
                    background-color: var(--ho-primary);
                }
            }
        }
    }
    .thumbnail-info {
        padding: 1rem;
        display: flex;
        flex-flow: column;
        min-height: 10rem;
        flex: 1 1 auto;
        background-color: transparent;
    }
}
.thumbnail-wrap {
    @include hoFlex;
    @include hoFlexFlow(column);
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem
}
figure {
    @include  xl {
        width: 78rem;
        height: 48rem;
    }
    box-shadow: var(--box-shadow);
    .player {
        @include hoFlex;
        @include hoFlexFlow(column);
        max-width:100%;
        max-height: 100%;
        video {
            width: 100%;
            min-width: 100%;
            height: 100%;
            min-height: 100%;
            object-fit: cover;
            position: relative;
            top: 0;
            left: 0;
            background-size: cover;
            object-fit: cover;
        }
        .control {
            @include hoFlex;
            @include hoFlexFlow(column);
            background-color: var(--ho-light);
            padding-bottom: 1rem;
            .control--progress {
                @include hoFlex;
                @include hoFlexFlow(column);
                padding-right: 0.8rem;
                padding-left: 0.8rem;
                input[data-picked=progress] {
                    width: 98%;
                    -webkit-appearance: none;
                    font: inherit;
                    height: 0.125rem;
                    border-radius: 3.125rem;
                    background-color: var(--ho-primary);
                    outline: none;
                    border:none;
                    margin:1rem 0.5rem;
                    transition: opacity .2s;
                     &::-webkit-slider-thumb {
                        -webkit-appearance: none;
                        outline: none;
                        border: none;
                        height: 0.5rem;
                        width: 0.5rem;
                        background-color: var(--ho-light);
                        cursor: pointer;
                        border-radius: 50%;
                        @include hoBoxShadow(0 0 0 0.5rem var(--ho-primary));
                    }
                }
            }
            .control--button {
                @include hoFlex;
                @include hoFlexFlow(row);
                justify-content:space-between;
                .btn-inner-left {
                    display: flex;
                    flex-flow: row nowrap;
                    input[data-picked=volume] {
                        -webkit-appearance: none; 
                        padding: 0; 
                        font: inherit; 
                        height: 0.125rem;
                        width: 5.975rem;
                        background-color: var(--ho-primary);
                        outline: none;
                        border:none;
                        margin:0.8rem 0.5rem;
                        transition: opacity .2s;
                        &::-webkit-slider-thumb {
                            -webkit-appearance: none;
                            outline: none;
                            border: none;
                            height: 0.625rem;
                            width: 0.625rem;
                            background-color: var(--ho-light);
                            cursor: pointer;
                            border-radius: 50%;
                            @include hoBoxShadow(0 0 0 0.5rem var(--ho-primary));
                        }
                    }
                }
                .btn-inner-right {
                    display: flex;
                    flex-flow: row nowrap;
                    padding-right: 0.5rem;
                }
                button[data-picked] {
                    background: none;
                    outline: none;
                    border:none;
                    color:  var(--ho-primary);
                    margin: 0 0.2rem;
                    cursor: pointer;
                }
                span[data-picked] {
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 1.4rem;
                    color: var(--ho-primary);
                }
                span[data-picked=seperated] {
                    line-height: 1;
                    color: var(--ho-primary);
                }
            } 
        }
    }  
}